@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;

  .logo-img {
    height: 50px;
    width: 100px;

  }

  ul {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  li {
    margin: 0 20px;
    list-style: none;
    transition: 0.4s ease;
    color: #8c8888;
    cursor: pointer;

    a {
      color: #8c8888;
    }
  }

  .active {
    color: red;
  }
}

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  place-items: center;
}

.list-or-table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.card-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .item {
    width: 800px;
    height: 150px;
    margin-bottom: 50px;
    background: #f5f5f5;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    /*position: relative;*/
    padding-bottom: 0;
    //display: flex;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .item img {
    border-radius: 10px 0 0 0;
  }

  .add_card {
    margin-bottom: 0;
    width: 55px;
    height: 45px;
  }

  .star {
    margin: 0 15px;
  }
}

.item {
  width: 260px;
  height: 400px;
  margin-bottom: 50px;
  background: #f5f5f5;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  /*position: relative;*/
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .item img {
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
  object-fit: cover;
}

main .item img:hover {
  transform: scale(1.05);
}

main h2, main p, main b {
  margin: 10px 20px;
  color: #333;
}

main .add_card {
  border: none;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  transition: transform 500ms ease;
  user-select: none;
  margin-bottom: 15px;
}

main .add_card:hover {
  transform: scale(1.05) translateY(-3px);
}

.star_shop {
  color: black;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  //width: 35px;
  //height: 35px;
  text-align: center;
  line-height: 35px;
  /*color: #222222;*/
  cursor: pointer;
  font-weight: 300;
  font-size: 25px;
  transition: transform 500ms ease;
}

.Nothing {
  color: #555;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 35px;
  background: #333333;
  height: 200px;
  width: 400px;
  z-index: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal h2 {
  font-size: 24px;
  font-weight: 600;
  color: burlywood;
  text-align: center;
  height: 65px;
}

.modal p {
  width: 100%;
  display: flex;
  color: burlywood;
  justify-content: center;
  margin-bottom: 20px;
}

.modal button {
  width: 100px;
  height: 30px;
  border-radius: 50px;
  background: #f2f2f2;
  cursor: pointer;
  border: none;
  color: #222222;
  margin-left: 10px;
  transition: all 500ms ease;
}

.modal button:hover {
  border-color: silver;
  background: burlywood;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.74);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.showNoting {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
}

.showBuy {
  position: absolute;
  border: 1px solid red;
  z-index: 10;
  background-color: silver;
  top: 91px;
  right: 120px;
  min-height: 100px;
  width: 300px;


  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.icon-buy {
  margin: 0 10px;
}

.star-active {
  color: orange;
}

.showStar {
  position: absolute;
  z-index: 10;
  background-color: silver;
  top: 91px;
  left: 43px;
  min-height: 100px;
  width: 300px;
  border: 1px solid orange;
}

.oder_counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  position: absolute;
  background: #dc3d3d;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 21px;
  //left: 90%;
  font-size: 14px;
  font-weight: 600;
}

.star_counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  position: absolute;
  background: goldenrod;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 21px;
  left: 10%;
  font-size: 14px;
  font-weight: 600;
}

.unActive-btn {
  background-color: #555;
  color: #555;
}

.btn-unactive {
  background-color: #2980b9;
}

.Nothing {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  background-color: #ddd;
  height: 200px;
  border-radius: 6px;
  border: 1px solid silver
}

.Oders-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  place-items: center;
}

.btn-buy_order-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
}

.btn-buy_order-wrapper p {
  font-size: 20px;
  color: #ca5252;
  font-weight: 600;
}

.link-to-form {
  width: 180px;
  height: 50px;
  border-radius: 50px;
  background: burlywood;
  cursor: pointer;
  border: none;
  color: #222222;
  margin-left: 10px;
  transition: all 500ms ease;

  text-align: center;
  padding-top: 15px;
}

.link-to-form:hover {
  border-color: silver;
  background: #f2f2f2;
}

.me_shop {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  border-bottom: 2px solid crimson;
  border-radius: 30px;
}

.me_star {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  border-bottom: 2px solid crimson;
  border-radius: 30px;
}

.buy-item {
  width: 260px;
  height: 350px;
  margin-bottom: 50px;
  background: #f5f5f5;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  /*position: relative;*/
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  img {
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    object-fit: cover;
    width: 260px;
    height: 150px;
  }

  h2 {
    font-size: 1.2em;
    margin-bottom: 8px;
  }

  b {
    color: #354e5f;
    font-size: 1.2em;
    display: block;
    margin-bottom: 8px;
    text-align: center;
  }

  .delete {
    color: #e74c3c;
    cursor: pointer;
    font-size: 1.5em;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #c0392b;
    }
  }

  section {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.icon-star {
  color: #99d3ad;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    color: #3b8d57;

  }
}

.icon-buy {
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.logo a {
  cursor: pointer;
  color: #99d3ad;
}

.Star-delete {
  cursor: pointer;
  font-size: 20px;
}

.btn-unactive {
  background-color: #555;
}

#already-In-Buy-list {
  position: absolute;
  color: orange;
  font-size: 16px;
  top: -3px;
  left: 118px;
}

.star_shop {
  font-size: 20px;
}

.delete {
  cursor: pointer;
  transition: all 0.4s ease;
}

.delete:hover {
  color: #4ae97f
}

.warpper-form {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  margin: 30px auto;
  background-color: #bdb5b5;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
  }

  .wrapper-input {
    position: relative;
  }

  input {
    display: block;
    cursor: pointer;
    width: 220px;
    height: 30px;
    outline: none;
    border: 1px solid grey;
    border-radius: 8px;
    padding-left: 10px;
  }

  input:focus, :active {
    border-color: orange;
  }

  label {
    display: block;
  }

  .text-error {
    position: absolute;
    font-size: 12px;
    color: red;
    margin: 0;
  }

  .form-label-text {
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
    cursor: pointer;
  }

  button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background: burlywood;
    cursor: pointer;
    border: none;
    color: #222222;
    margin-left: 10px;
    transition: all 500ms ease;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }

  button:hover {
    border-color: silver;
    background: #f2f2f2;
  }
}

// ========= PRELOADER ===========

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: crimson;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}